#root {
    margin: 0 auto;
  }
  .header {
      background-image: url(/src/assets/img/banner.png.png);
      background-size: cover;
      height: 300px; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      color: white;
      
   }
   .mainFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    background-image: url(/src/assets/img/food-and-drink-pizza-pizzas-tomato.jpg);
    background-size: cover;
   }
   .cards{
      display: flex;
      justify-content: center;
      margin: 20px;
      border: solid 5px green;
      gap: 32px;
      margin-top: 40px;
   }
   .card {
      margin: 5px;
      margin-bottom: 30px;
      height: 650px;
  
  } 
  .footer{
      text-align: center;
      padding: 32px;
      background-color: rgb(25, 156, 25);
      font-weight: 500;
      position: absolute;
      bottom: 0;
      width: 100%;
  }